{% load static %}

<li class="post-item">
    <article class="post">
        <a href="{% url 'post-details' post1.slug %}" class="post-link">
            <div class="post-image-container">
                <img src="{% static 'blog/images/'|add:post1.image %}" alt="{{ post1.title }}" class="post-image"/>
            </div>
            <div class="post-content">
                <h3 class="post-title">{{ post1.title }}</h3>
                <p class="post-excerpt">{{ post1.excerpt }}</p>
            </div>
        </a>
    </article>
</li>
